.googlebtn {
  display:flex;
  justify-content: center;
}

#dogimg {
  display:flex;
  justify-content: center;
}

#homeImg{
  border-radius: 25px;
}

.welcome{
  display:flex;
  justify-content: center;
  font-family: 'Arial';
  color:rgb(17, 89, 197);
  text-shadow: -1px 1px 1px #000
}

.input{
  display:flex;
  justify-content: center;
  font-family: 'Arial';
  font-size: 14px;
}

input{
  margin-left: 5px;
}

#breed{
  margin-left:8px;
}
#age{
  margin-left: 20px;
}
#gender{
  margin-left: 2px;
  margin-right: 3px;
}

#search{
  border-style:none;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 1px rgb(112, 112, 112);
  font-family: Comic Sans MS;
  padding: 1px 8px;
}
#search:hover, #close:hover{
  background-color: rgb(74, 168, 255);
}
#search:active, #close:active{
  border-style: inset;
}

#close{
  border-style:none;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 1px rgb(112, 112, 112);
  margin-top: 7px;
  font-family: Comic Sans MS;
  padding: 1px 8px;
  margin-bottom: 10px;
}

.dogContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.dog{
  max-width:20%;
  font-size: 0.9em;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 15%;
  margin-bottom: 20px;
  border-radius:25px;
  background-color: rgba(246, 255, 214, 0.479);
  padding-bottom: 10px;
  box-shadow: 0px 0px 5px 1px rgba(236, 252, 97, 0.884);
  font-family:cursive;
}

.favs{
  max-width:20%;
  font-size: 0.5em;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 10%;
  margin-bottom: 20px;
  border-radius:25px;
  background-color: rgba(246, 255, 214, 0.479);
  padding-bottom: 10px;
  box-shadow: 0px 0px 5px 1px rgba(236, 252, 97, 0.884);
  font-family: cursive;
}
#delete, .add{
  font-family:cursive;
  border:none;
  border-radius:5px;
  margin-top:5px;
}
#delete:hover, .add:hover{
  background-color: rgba(251, 255, 34, 0.781);
  box-shadow: 0px 0px 1px 1px red;
}

#cardImg{
  margin-top: 10px;
  max-width:50%;
  max-height: 50%;
}

body {
  background-color: rgb(111, 165, 247);
}